{% extends "network/layout.html" %}
{% load static %}
{% load humanize %}

{% block body %}
    <h3>Home</h3>
    <hr>
{% if user.is_authenticated %}
    <div class="tweet_form">
        <form action="{% url 'index' %}" method="post" id="tweet-post">
            {% csrf_token %}
            <div class="mb-3">
                <textarea class="form-control" id="tweet_text" name="tweet_text" rows="2"></textarea>
            </div>
            <div id="tweet-btn">
                <input class="btn btn-info rounded-pill" type="submit" value="Tweet" id="tweet" placeholder="What's happening?">
            </div>
        </form>
    </div>
{% endif %}
{% for tweet in page_obj %}
    <div class="row all_tweet" id="tweet-ground">
        <div class="column side">
            <img src="{% static 'network/image/t-bird.jpg' %}" alt="Profile" id="profile_home">
        </div>
        <div class="column middle">
            <p style="color: rgb(110, 118, 125);">@{{ tweet.user_tweet }} &#183; {{ tweet.timestamp | naturaltime }} <span><a href="#" class="far fa-trash-alt" style="float: right;"></a></span></p>
            <p>{{ tweet.tweet_text }}</p>
            <div class="tweet-footer">
                <a href="#" class="far fa-heart"> total likes</a>
            </div>
        </div>
    </div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% block script %}
    <script src="{% static 'network/js/index.js' %}"></script>
{% endblock %}
    
{% endblock %}