@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: rgb(0,0,0);
    display: block;
}

.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 1px solid #111;
    overflow-x: hidden;
    padding-left: 17%;
    padding-top: 10px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  margin-bottom: 20px;
}

.sidenav a:hover {
    color: #1DA1F2;
}


.fa-home, .fa-envelope, .fa-sign-out-alt, .fa-door-closed {
    margin-right: 20px;
}

.fa-user {
    margin-right: 25px;
}

.fa-users {
    margin-right: 15px;
}

.main {
  margin-left: 30%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 10px;
  color: white;
  width: 32%;
}

.content {
  height: 100%;
  width: 100%;
  margin-left: 62%;
  padding-left: 30px;
  position: fixed;
  overflow-x: hidden;
  border-left: 1px solid #111;
  color: white;
  top: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.search {
  position: fixed;
  width: 100%;
}

input[type=text] {
  background-color: rgb(35, 35, 35);
  background-image: url("/static/network/search-solid.png");
  background-size: 15px;
  background-position: 15px 14px;
  background-repeat: no-repeat;
  border-radius: 24px;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px 10px 10px 40px;
  color: white;
  width: 350px;
}

input[type=text]:focus {
  outline: none;
  border-radius: 24px;
  box-sizing: border-box;
  border-color: #1DA1F2;
  background-color: transparent;
}

/* .card {
  width: 100%;
} */

/* .card {
  width: 350px;
  margin-top: 80px;
  background-color: rgb(35, 35, 35);
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
} */

/* .card-header, .card-body {
  border-bottom: 1px solid #111;
}

.card-body:hover {
  border-bottom: 1px solid #111;
  background-color: rgb(45, 45, 45);
}

.card-footer {
  color: #1DA1F2;
} */

#tweet-btn {
  float: right;
}

.tweet_form {
  border-bottom: 1px solid white;
  height: 150px;
}

#tweet {
  color: white;
  font-weight: bold;
  background-color: #1DA1F2;
  padding: 7px 15px;
}

.all_tweet {
  font-size: 15px;
  padding: 5px;
}

.column {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

.column.left {
  width: 10%;
}

.column.right {
  width: 83%;
}

.column.edit {
  width: 7%;
}

.far, .fas {
  margin-right: 10px;
}

.t-btn1:hover, .t-btn4:hover {
  color: #1DA1F2;
}

.t-btn2:hover {
  color: green;
}

.t-btn3:hover {
  color: red;
}

span {
  margin-left: 10px;
}

p {
  margin: 0px;
}

#btn {
  margin-top: 15px;
}